[alias]
  br = branch
  co = checkout
  ci = commit
  cl = clone
  cp = cherry-pick
  dc = diff --cached
  st = status
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard
  s1 = stash list
  sa = stash apply
  ss = stash save
  dump = cat-file -p
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
